.head {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  height: 16px;
  font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
  font-size: 14px;
  border-bottom: 1px solid rgb(224, 224, 224);
}

.head > div > p:hover {
  color: green;
}

.slick {
  background-image: image-url('slick.png');
  width: 200px;
  height: 23px;
  background-size: 200px;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: contain;

}

.left {
  display: flex;
}

.search-button {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-button:hover {
  color: green;
  cursor: pointer;
}

.signin {
  display: flex;
  align-items: center;
}

.header-button {
  display: flex;
  align-items: center;
}

.search-icon {
  background-image: image-url('search_icon.png');
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  object-fit: cover;
}

.icon {
  background-image: image-url('icon.png');
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  object-fit: cover;
  margin: 9px;
}

.right {
  display: flex;
}

.modal-background {
  font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.modal-section {
  background-color: white;
  border: 1px solid grey;
  width: 500px;
  z-index: 11;
  position: absolute;
  display: wrap;
  right: 18px;
  top: 78px;
}

.modal-section-a {
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 25px;
  height: 16px;
  font-weight: bold;
}


.modal-section-b {
  display: flex;
  align-items: center;
  border-top: 1px solid rgb(224, 224, 224);
  font-size: 14px;
  padding: 25px;
  height: 16px;
}

.header-button:hover {
  color: green;
  text-decoration: underline;
}
