.homepage {
  // padding-left: 5.5%;
  // padding-right: 5.5%;
}

.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(224, 224, 224);
  height: 60px;
  color: rgb(107, 107, 107);
  font-family: Helvetica;
  font-weight: 300;
}

.categories div {
  margin: 20px;
}

.categories a {
  width: 10%;
  transition: padding .25s, border .25s, background-color .5s;
}

.categories a:hover {
  color: rgb(11, 83, 65);
  padding-bottom: 2px;
  border-bottom: 2px solid rgb(11, 83, 65);
}

.category-name {
  height: 140px;
  padding-left: 6.5%;
  padding-right: 6.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.category-title {
  font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 23px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  width: 80%;
}

.category-description {
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 300;
  line-height: 23px;
  margin-bottom: 10px;
  width: 80%;
  color: gray;
}

.middle {
  padding-top: 24px;
  padding-bottom: 60px;
  display: flex;
  height: 588px;
  border-bottom: 1px solid rgb(224, 224, 224);
  padding-left: 6.5%;
  padding-right: 6.5%;
}

.fresh-favorites {
  padding-left: 5.5%;
  padding-right: 5.5%;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  justify-content: space-between;
  margin-top: 3.5%;
}

.favorites {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 375px;
  border-bottom: 1px solid rgb(224, 224, 224);
  margin-top: 15px;
  padding-bottom: 5%;
  padding-left: 5.5%;
  padding-right: 5.5%;
}


.fav-section {
  margin: 16px;
  width: 25%;
  height: 100%;
}


.featured {
  display: flex;
  flex-direction: column;
  width: 53.5%;
  border-right: 1px solid rgb(224, 224, 224);
  margin-top: 0px;
  padding-top: 30px;
  padding-right: 60px;
}

.recommended {
  display: flex;
  height: 80%;
  width: 43%;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 60px;
}

.homepage h2 {
  font-size: 13px;
  font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
  color: rgb(100, 100, 100);
  font-weight: 400;
}

.featured-img {
  background-image: image-url('temp.png');
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  object-fit: cover;
}

.underline-main:hover {
  text-decoration: underline;
  color: rgb(15, 107, 84);
}

.project-index-item {
  font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
  display: flex;
  flex-direction: column;
  margin-left: 35px;
  width: 50%;
}

.project-index-item div {
  height: 22px;
}

.featured-title {
  font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
  font-size: 28px;
}

.featured-title:hover {
  // color: rgb(11, 83, 65);
  text-decoration: underline;
}

.featured-description {
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 100;
  line-height: 23px;
  margin-bottom: 10px;
  width: 80%;
}

.fav-section-title {
  font-family: Helvetica;
  font-size: 17px;
  line-height: 25px;
  font-weight: 400;
  margin-bottom: 10px;
}

.favorite-description {
  font-family: Helvetica;
  font-weight: 300;
  font-size: 13.5px;
  margin-bottom: 15px;
  line-height: 25px;
  width: 100%;
  // padding-right: 0px;
}

.rec-container {
  display: flex;
  align-items: center;
  height: 125px;
  border-bottom: 1px solid rgb(224, 224, 224);
  // width: 83.5%;
  margin-bottom: 3px;
}

.rec-i {
  width: 32%;
}

// .rec-img {
//   background-image: image-url('temp2.png');
//   width: 35%;
//   height: 20%;
//   background-size: contain;
//   background-repeat: no-repeat;
//   object-fit: cover;
// }

.link {
  font-size: 14px;
  display: flex;
  align-items: center;
}

.link:hover {
  color: rgb(15, 107, 84);
  text-decoration: underline;
}

.funded {
  font-size: 12px;
  color: rgb(15, 107, 84);
  font-weight: bold;
  display: flex;
  align-items: center;
}

.author {
  font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
  font-size: 12px;
  color: rgb(107, 107, 107);
  display: flex;
  align-items: center;
}

.author-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.more-projects {
  color: rgb(72, 117, 241);
  font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
  font-size: 13.5px;
}

.more-projects:hover {
  text-decoration: underline;
  cursor: pointer;
}